<%- include("header") -%>

    <!-- Personal information Screen -->
    <div class="max-w-9xl h-full py-2 sm:px-6 bg-gray-100" style="
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    width: 1024px;
">
        <div class="px-4 md:px-10 py-4  bg-gray-100 rounded-tl-lg rounded-tr-lg">
            <div class="flex justify-end items-center">
                <div class="relative pb-4 ">
                    <div class="absolute top-4 left-3 "> <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500 "></i> </div> <input type="text" class="h-14 w-96 pl-10 pr-20 rounded-lg z-0 focus:shadow focus:outline-none" placeholder="Search anything...">
                    <div class="absolute top-2 right-2"> <button class="h-10 w-20 text-white rounded-lg bg-indigo-600 hover:bg-red-600">Search</button> </div>
                </div>
            </div>


            <div class="px-4 md:px-10 py-4  md:py-2 bg-gray-100 rounded-tl-lg rounded-tr-lg">
                <div class="sm:flex items-center justify-between">
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg text-gray-500 pt-6">Basics Info</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg text-gray-500 pt-6">Salary Details</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg text-gray-500 pt-6">Personal Info</p>
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg text-gray-500 pt-6">Payment Info</p>
                </div>
            </div>
            <div class="bg-white shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 h-full overflow-y-auto">
                <div class="grid grid-rows-8 grid-flow-col gap-6">
                    <div class="row-span-6 border-2">
                        <button onclick="location.href='/form'"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-80 mt-2" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg></button>

                        <div class="flex flex-wrap justify-center">

                            <div class="w-20 sm:w-20 px-2 pb-2">
                                <img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-4-470x470.png " alt="... " class="shadow-lg rounded-full max-w-full h-auto align-middle border-none " />
                            </div>
                        </div>

                        <table class="w-full whitespace-nowrap">
                            <p class="flex flex-wrap justify-center">
                                <%=form.fName%>
                            </p>
                            <p class="flex flex-wrap justify-center text-sm text-gray-500 py-2 pb-2">
                                <%=form.des%>
                            </p>

                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody class="w-full ">
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4 pr-4">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Role</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">
                                            <%=form.des%>
                                        </p>
                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Department</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">
                                            <%=form.dep%>
                                        </p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Manager</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">Jane Cooper</p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Reports</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">Hawinks</p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Start Date</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">
                                            <%=form.dat.toDateString()%>
                                        </p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Work Address</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-6 pr-4 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">
                                            <%=form.add%>
                                        </p>

                                    </td>
                                </tr>
                                <tr tabindex="0" class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Country</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">
                                            <%=form.count%>
                                        </p>

                                    </td>
                                </tr>

                            </tbody>

                        </table>



                    </div>
                    <!--  Second Grid Personal Information -->
                    <div class="row-span-2 col-span-3 border-2 ">

                        <table class="w-full whitespace-nowrap">

                            <button onclick="location.href='/form'"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-2 " viewBox="0 0 20 20" fill="currentColor" style="margin-left: 500px;">
  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
</svg></button>
                            <p class="flex flex-wrap justify-left pl-4 pb-2">Personal Information</p>

                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody class="w-full ">
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Father's Name</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">Brooklyn Simmons</p>
                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Birthday</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">24th July,1999</p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Contact Email</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">
                                            <%=form.email%>
                                        </p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Phone</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">98908-90890</p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Mobile</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">89890-09890</p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Address</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="ppl-6 pr-4 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">23,usha colony,sector-15,new delhi</p>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- Third Grid Personal Information -->
                    <div class="row-auto col-span-3 border-2 ">

                        <table class="w-full whitespace-nowrap">
                            <button onclick="location.href='/form'"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-2" viewBox="0 0 20 20" fill="currentColor" style="margin-left: 500px;">
  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
</svg></button>
                            <p class="flex flex-wrap justify-left  pl-4 pb-2">Compensation</p>
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody class="w-full ">
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Employee Type</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">Salary/No Overtime</p>
                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Wage</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">RS 200000 per year</p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">2nd Shareholder</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">No</p>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Fourth Grid Personal Information -->
                    <div class="row-auto col-span-3 border-2 ">
                        <table class="w-full whitespace-nowrap">
                            <button onclick="location.href='/form'"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-2" viewBox="0 0 20 20" fill="currentColor" style="margin-left: 500px;">
  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
</svg></button>

                            <p class="flex flex-wrap justify-left pt-4 pl-4 pb-2">Payment Information</p>
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody class="w-full ">
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Bank Name</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">City Bank</p>
                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">Bank Account No.</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">2419992000</p>

                                    </td>
                                </tr>
                                <tr tabindex="0 " class="focus:outline-none h-10 text-sm leading-none text-gray-500 bg-white ">
                                    <td class="pl-4  ">
                                        <div class="flex items-center ">
                                            <div class="pl-4 ">
                                                <p class="font-medium ">IFSC Code</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pl-12 ">
                                        <p class="text-sm font-medium leading-none text-gray-800 ">city5678</p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            </body>

            </html>